{% extends "base.html" %}

{% block title %}
<title>Blogs | Milind Patel</title> 
{% endblock %}
    
{% block content %}

    <header class="header">
        <h1 class="hero-heading ">Welcome to my <span class="hero-highlight">Blogs</span>.</h1>
    </header>
    <section class="blog-sections ">
        <h2 class="blog-page-title">The Dummy Text Blog</h2>
        <p >Hello and Welcome to my blog friends. Lorem Ipsum is a generallly used Dummy text. I wanted to create english and hinglish dummy text.
            Everyone is free to use this text. You can edit, update, rewrite freely without any constraint.
           <a href="MyBlogs/dummytextblog">Read More.</a>    
    </section>
    <section class="bsections sec-with-bg">
        <h2 class="blog-page-title">ESlint, Emmet and Other Friends</h2>
        <p class="blog-sections">I have written this blog to tell you someting about hidden things that u use but might have very little information about them.<br>
            Today i am going to tell u about eslint, emmet and other web-dev friends.
           <a href="MyBlogs/EsEmnOF">Read More.</a>    
    </section>
    <section class="blog-sections ">
        <h2 class="blog-page-title">CSS Specificity. Heard about it?</h2>
        <p >Hello Friends, my name is Mayur Chawla. Today I am going to tell you something about CSS specificity.
           <a href="MyBlogs/css_specificityblog">Read More.</a>
    </section>
    <section class="bsections sec-with-bg">
        <h2 class="blog-page-title">The Fonts Blog</h2>
        <p class="blog-sections">I have written this blog on good fonts to use on websites. What happens is that viewing in computer vs viewing in mobile is a very different experience.
            And what fonts may work for computer may not work for mobile. So to ensure good experience we recommend using..
           <a href="MyBlogs/fontsblog">Read More.</a>    
    </section>
    <section class="blog-sections ">
        <h2 class="blog-page-title">The Colors Blog</h2>
        <p >Hello and Welcome to my blog friends. Colors have magical effect on your website. Different colors can make you feel good or bad based on how you use them.
            Here you will find some suggestions from us on which color and color combinations to use.
           <a href="MyBlogs/colorsblog">Read More.</a>    
        </p>
        </section>

{% endblock %}